<h1>Artists found list</h1>

<div id="artist-search-results">
    <ul>
        {{#each result}}
        <div class="artist-result">
            <li>
                <img src={{images.[1].url}} {{!-- [1] gives smaller size than [0] --}} alt="artist-pics">
                <h3>{{name}}</h3>
                <a href="/albums/{{id}}">View Albums</a>
            </li>
        </div>
        {{/each}}
    </ul>
</div>