<h1>Tracks</h1>
<ul>
    {{#each resultTracks}}
    <li>
        {{!-- we don't need to use this on handlebars ever now, its new improved version --}}
        <h3>{{name}}</h3>
        <audio controls>
            <source src="{{preview_url}}">
        </audio>
    </li>
    {{/each}}
</ul>